#toggleArchives {
	position: absolute;
	height: auto;
	z-index: 1;
}

.searchSubmit {
	padding: 0 !important;
	line-height: 26px !important;
	border: none;
}

.nav, .title {
	position: relative;
	height: 1%;
}
	.nav li {
		line-height: 2em;
	}

.submit {
	display: block;
	padding-left: 0;
	padding-right: 0;
	border: none;
}

#respond {
	padding-bottom: 20px;
}